.wrap{
    position: relative;
    width: 176px;height: 438px;
    .cirB{
       background-color: red;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 49px;
    left: 50%;
    margin-left: -23px;
    }
    .lonR{
            width: 10px;
    height: 310px;
    position: absolute;
    left: 50%;
    bottom: 88px;
    margin-left: -8px;
        .l{
            background-color: red;
            position: absolute;left: 0;right: 0;bottom: 0;height: 0;
            transition: height 1s linear; 
        }
    }
}
